.wrapper {
  position: relative;
  padding: 33px;
  transition: all 300ms;
  overflow: hidden;
}
.ellipse {
  position: absolute;
  width: 65px;
  height: 65px;
  right: 16px;
  top: -6px;
  background: rgba(255, 110, 48, 0.6);
  filter: blur(25px);
  visibility: hidden;
}
.wrapper:hover {
  border-radius: 15px;
  transform: translateY(-20px);
}
.wrapper:hover .ellipse {
  visibility: visible;
}
.wrapper:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: rgba(40, 48, 54, 0.6);
  position: absolute;
  border: 2px solid;
  border-image-source: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.08),
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.05),
    rgba(255, 255, 255, 0)
  );
  border-image-slice: 1;
  left: 0;
  top: 0;
  /*z-index: -1;*/
}

.wrapper:hover .btnVisit {
  background: var(--color-primary);
  border-radius: 8px;
  color: var(--color-white);
}

.wrapper:hover .btn {
  color: var(--color-primary-variant);
}
.wrapper:hover .subtitle {
  color: rgba(255, 165, 55, 1);
}
.innerWrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.top {
  display: flex;
  gap: 28px;
  z-index: 2;
}
.title {
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: var(--color-white-title);
}
.subtitle {
  font-size: 18px;
  line-height: 27px;
  color: rgba(255, 165, 55, 0.55);
}
.social {
  display: flex;
  align-items: center;
  z-index: 2;
}

.btnVisit {
  padding: 9px 35px;
  cursor: pointer;
  background: transparent;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--color-light);
}

.wrapper:hover .imgWrapper {
  background: #283036;
  box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
}
.imgWrapper {
  width: 42px;
  height: 42px;
  padding: 7px;
  background: transparent;
  box-shadow: 0 5px 10px -3px rgba(18, 18, 18, 0.15);
  border-radius: 8px;
  margin-right: 12px;
  cursor: pointer;
}
.imgWrapper:last-of-type {
  margin-right: 124px;
}
.likeActive {
  fill: #fd3b41;
}
.like {
  fill: white;
  fill-opacity: 0.38;
}
.wrapper:hover .desc {
  color: rgba(255, 255, 255, 0.78);
}
.desc {
  font-size: 16px;
  line-height: 30px;
  color: var(--color-light);
  z-index: 2;
}
